torch==1.12.0 -f https://download.pytorch.org/whl/cpu/torch_stable.html
langchain 
langchain-community 
langchain-core 
langchain-huggingface
datasets
sentence_transformers
huggingface_hub
pandas
langchain-groq 
langchain-astradb
sqlitecloud
sqlalchemy-sqlitecloud
uvicorn
fastapi
langserve
starlette
