langchain 
langchain-community 
langchain-core 
langchain-huggingface
datasets
sentence_transformers
huggingface_hub
pandas
langchain-groq 
langchain-astradb
sqlitecloud
sqlalchemy-sqlitecloud
fastapi
langserve
starlette
