langchain 
langchain-community 
langchain-core 
langchain-huggingface  
langchain-text-splitters 
langchain_chroma 
langchain_text_splitters
streamlit
chromadb
datasets
sentence_transformers
huggingface_hub
ipykernel
langchain_chroma
pandas
mysql-connector-python
SQLAlchemy
bs4
sqlite3== 3.35.0
langchain-groq 
langchain-astradb